body{
    font-family: 'PT Sans Narrow', sans-serif;
    background-image: url("./library.jpg")
}

.form-background{
    background-color: white;
    
}
.saved-image{
    float: left;
    padding: 10px;
}

.p{
    padding: 10px;
}

.cardresults{
    border: 10px
    
}


.disabled{
    color: "disabled";
}

.appBar {
    color: white;
    
}